<div id="numbers_page" ng-show="getGraphState(grpState, 'name_of_page')">
    <!--<div class="row">-->
        <!--<div class="col-lg-12 col-sm-12">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<h4><b>? 트래픽</b></h4>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<canvas id="user_group" class="chart-horizontal-bar" chart-data="_user_group_data"-->
                            <!--chart-labels="_user_group_label" chart-series="_user_group_series"-->
                            <!--chart-options="_user_group_option" chart-colors="_user_group_colors">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <table id="table4" class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>사용자</th>
                    <th>기간</th>
                    <th>총 사용량</th>
                    <th>다운로드 사용량</th>
                    <th>업로드 사용량</th>
                    <th>플로우 평균 사용량</th>
                    <!--<th>플로우 최대 사용량</th>-->
                    <th>제어량</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user_group in _user_group_tb_data">
                    <td>{{$index+1}}</td>
                    <td>{{ user_group.name }}</td>
                    <td>{{user_group.from}} ~ {{user_group.until}}</td>
                    <td>{{ user_group.total }} Mbit/s</td>
                    <td>{{ user_group.down }} Mbit/s</td>
                    <td>{{ user_group.up }} Mbit/s</td>
                    <td>{{ user_group.flows }} /s</td>
                    <!--<td>{{ user.max_flows }} /s</td>-->
                    <td>{{ user_group.disc_rate }} /s</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>